/* forms */

::-webkit-input-placeholder
  color: #878787
  font-weight: 400
  font-size: rem(12)
::-moz-placeholder
  color: #878787
  font-weight: 400
  font-size: rem(12)
:-ms-input-placeholder
  color: #878787
  font-weight: 400
  font-size: rem(12)
input:-moz-placeholder
  color: #878787
  font-weight: 400
  font-size: rem(12)

button, input, optgroup, select, textarea
  margin: 0
  font: inherit
  color: inherit
  outline: none
  &:hover, &:focus, &:active
    outline: none

button, html input[type=button], input[type=reset], input[type=submit]
  -webkit-appearance: button
  cursor: pointer
  outline: none

.form
  &-group,  &__group
    margin-bottom: 15px

  &-control, &__control
    display: block
    width: 100%
    height: 30px
    padding: 6px 12px
    font-size: rem(14)
    line-height: 1.42857143
    color: #878787
    background-color: $color-s-gray
    background-image: none
    border: 1px solid $color-s-gray
    border-radius: 0px
    box-shadow: none
    transition: border-color .15s, box-shadow .15s, color 0.15s
    font-family: $font-exo
    font-weight: 600
    &:focus
      box-shadow: none
      background-color: $color-white
      border-color: #dcdcdc
      color: $primary-color

    &--counter
      width: 60px
      margin: 0 auto
      text-align: center
      color: $primary-color

  &__radio, &__check
    display: table
    line-height: 1
    cursor: pointer
    font-weight: 600
    font-family: $font-exo-condensed
    &.is-selected
      .input-label
        color: $primary-color
    &>.span
      display: table-cell
      vertical-align: top
      line-height: 0
      &+.span
        padding-left: 10px
      &--nowrap
        white-space: nowrap
      &--w100
        width: 100%
    input[type="radio"], input[type="checkbox"]
      display: none
      &:checked
        ~.input-radio, ~.input-check
          border-color: $color-s-brown
          &::after
            background-color: $color-s-brown
        ~.input-label
          color: $color-s-brown
    .input-radio, .input-check
      display: inline-block
      width: 16px
      height: 16px
      border: 1px solid $primary-color
      border-radius: 50%
      background-color: $color-white
      position: relative
      &::after
        content: ''
        position: absolute
        top: 2px
        left: 2px
        width: 10px
        height: 10px
        background-color: $color-white
        border-radius: 50%
    .input-check
      border-radius: 0
      &::after
        border-radius: 0
    &--head
      margin-left: 0
      .input-label
        text-transform: uppercase
        font-size: rem(15)
        line-height: 1.1
        color: #636363
      .span + .span
        padding-left: 10px

textarea.form-control
  resize: vertical

label
  display: inline-block
  max-width: 100%
  margin-bottom: 5px
  font-weight: 700

.has
  &-success .form-control
    border-color: #3c763d
    box-shadow: none

  &-warning .form-control
    border-color: #8a6d3b
    box-shadow: none

  &-error
    ::-webkit-input-placeholder
      color: $color-s-red
    ::-moz-placeholder
      color: $color-s-red
    :-ms-input-placeholder
      color: $color-s-red
    input:-moz-placeholder
      color: $color-s-red
    .form-control
      border-color: $color-s-red
      box-shadow: none


      &:focus
        box-shadow: none
        border-color: $color-s-red

  &-success .control-label
    color: #3c763d

  &-warning .control-label
    color: #8a6d3b

  &-error .control-label
    color: $color-s-red

.input-label
  font-size: rem(14)
  display: block
  line-height: 1.2
  transition: color 0.2s linear
  margin-top: 0px
