/* header */
.header
  margin-bottom: 15px

  &__top
    background: #f0f6f9
    position: relative
    color: #858585
    height: 30px

  &__contacts
    float: right
    font-size: rem(13)
    font-family: $font-exo-condensed
    font-weight: 700
    +clearfix
    &>div
      float: left
      height: 30px
      line-height: 28px
      white-space: nowrap
      &:not(:last-child)
        padding-right: 15px
      &.show
        padding-right: 35px
      &.hide
        display: block !important

  &__bottom
    padding-top: 30px
    padding-bottom: 15px

  &__social, &__links
    text-align: center
    margin-top: 50px
    a
      float: left
      height: 30px
      width: 30px
      border: 1px solid $color-s-lightbrown
      background-color: $color-white
      position: relative
      &+a
        margin-left: 10px
      &:hover
        background-color: $color-s-lightbrown
    .icon--cart
      &+span
        position: absolute
        width: 16px
        height: 16px
        border-radius: 50%
        color: $color-white
        font-size: rem(10)
        font-family: $font-exo-condensed
        background-color: $color-s-pink
        right: -5px
        top: -5px
        text-align: center
        line-height: 16px
    div
      display: inline-block
      +clearfix

// Logo
.logo
  position: relative
  max-width: 325px
  margin: 0 auto
  a
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 10
  img
    max-width: 100%

// Search
.search
  position: fixed
  z-index: 100
  top: 0
  right: 0
  bottom: 0
  left: 0
  display: none
  &__background
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-color: rgba($color-white, 0.8)
    z-index: 10
  &__block
    height: 30px
    background: $color-s-brown
    width: 100%
    position: absolute
    z-index: 20
