doctype

html(lang="ru")
  
  -var active = 'Главная' //активный пункт меню, список в header.jade
  -var pageTitle = 'Главная' + ' - Emansipe' //title страницы для генерации верстки 

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    // Content
    .content.content--main
      .container
        
        // Catalog
        section.section.catalog
          
          .section__head
            .h1 модный товар
              small.small мы подобрали лучшее 
          
          // Nav tabs
          .catalog__tabs
            ul(role='tablist')
              li.active(role='presentation')
                a(href='#catalog-new', aria-controls='catalog-new', role='tab', data-toggle='tab') Новинки
              li(role='presentation')
                a(href='#catalog-sale', aria-controls='catalog-sale', role='tab', data-toggle='tab') Скидки
              li(role='presentation')
                a(href='#catalog-week', aria-controls='catalog-week', role='tab', data-toggle='tab') Товар недели
              
          // Tab panes
          .tab-content
            #catalog-new.tab-pane.active(role='tabpanel')
              .catalog__carousel
                .catalog__carousel__block 
                  .catalog__block
                    .catalog__img
                      a(href="#!").catalog__link
                      .catalog__hover
                        .catalog__shadow
                        .catalog__line1
                          i
                        .catalog__line2
                          i
                        .catalog__line3
                          i
                        .catalog__line4
                          i
                        .catalog__size
                          .catalog__size__name доступные размеры
                          .catalog__size__label 40
                          .catalog__size__label 42
                          .catalog__size__label 43
                          .catalog__size__label 44
                          .catalog__size__label 46
                          .catalog__size__label 48
                      img(src="./tmp/catalog-img-girl-1.png", alt="").img-responsive
                    a(href="#!").catalog__name название Платья № 23465454 
                    .catalog__price
                      div
                        span
                          strong 15 999 
                          sup руб
                .catalog__carousel__block
                  .catalog__block.catalog__block__lineTest2
                    .catalog__img
                      a(href="#!").catalog__link
                      .catalog__hover
                        .catalog__shadow
                        .catalog__line1
                          i
                        .catalog__line2
                          i
                        .catalog__line3
                          i
                        .catalog__line4
                          i
                        .catalog__size
                          .catalog__size__name доступные размеры
                          .catalog__size__label 40
                          .catalog__size__label 42
                          .catalog__size__label 43
                      img(src="./tmp/catalog-img-girl-2.png", alt="").img-responsive
                    a(href="#!").catalog__name название Платья № 23465454 
                    .catalog__price
                      div
                        span
                          strong 15 999 
                          sup руб
                      div
                        span.old
                          strong 21 999 
                          sup руб
                .catalog__carousel__block
                  .catalog__block.catalog__block__lineTest3
                    .catalog__img
                      a(href="#!").catalog__link
                      .catalog__hover
                        .catalog__shadow
                        .catalog__line1
                          i
                        .catalog__line2
                          i
                        .catalog__line3
                          i
                        .catalog__line4
                          i
                        .catalog__size
                          .catalog__size__name доступные размеры
                          .catalog__size__label 40
                          .catalog__size__label 42
                      img(src="./tmp/catalog-img-girl-3.png", alt="").img-responsive
                    a(href="#!").catalog__name название Платья № 23465454
                    .catalog__price
                      div
                        small 
                          span цена скрыта,
                          a(href="#!") зарегистрируйтесь
                .catalog__carousel__block
                  .catalog__block
                    .catalog__img
                      a(href="#!").catalog__link
                      .catalog__hover
                        .catalog__shadow
                        .catalog__line1
                          i
                        .catalog__line2
                          i
                        .catalog__line3
                          i
                        .catalog__line4
                          i
                        .catalog__size
                          .catalog__size__name доступные размеры
                          .catalog__size__label 40
                          .catalog__size__label 42
                          .catalog__size__label 43
                          .catalog__size__label 44
                          .catalog__size__label 46
                          .catalog__size__label 48
                          .catalog__size__label 50
                          .catalog__size__label 52
                          .catalog__size__label 54
                      img(src="./tmp/catalog-img-girl-4.png", alt="").img-responsive
                    a(href="#!").catalog__name название Платья № 23465454 
                    .catalog__price
                      div
                        small 
                          span цена скрыта,
                          a(href="#!") зарегистрируйтесь
                          
                .catalog__carousel__block 
                  .catalog__block
                    .catalog__img
                      a(href="#!").catalog__link
                      .catalog__hover
                        .catalog__shadow
                        .catalog__line1
                          i
                        .catalog__line2
                          i
                        .catalog__line3
                          i
                        .catalog__line4
                          i
                        .catalog__size
                          .catalog__size__name доступные размеры
                          .catalog__size__label 40
                          .catalog__size__label 42
                          .catalog__size__label 43
                          .catalog__size__label 44
                          .catalog__size__label 46
                          .catalog__size__label 48
                      img(src="./tmp/catalog-img-girl-1.png", alt="").img-responsive
                    a(href="#!").catalog__name название Платья № 23465454 
                    .catalog__price
                      div
                        span
                          strong 15 999 
                          sup руб
                .catalog__carousel__block
                  .catalog__block
                    .catalog__img
                      a(href="#!").catalog__link
                      .catalog__hover
                        .catalog__shadow
                        .catalog__line1
                          i
                        .catalog__line2
                          i
                        .catalog__line3
                          i
                        .catalog__line4
                          i
                        .catalog__size
                          .catalog__size__name доступные размеры
                          .catalog__size__label 40
                          .catalog__size__label 42
                          .catalog__size__label 43
                      img(src="./tmp/catalog-img-girl-2.png", alt="").img-responsive
                    a(href="#!").catalog__name название Платья № 23465454 
                    .catalog__price
                      div
                        span
                          strong 15 999 
                          sup руб
                      div
                        span.old
                          strong 21 999 
                          sup руб
                .catalog__carousel__block
                  .catalog__block
                    .catalog__img
                      a(href="#!").catalog__link
                      .catalog__hover
                        .catalog__shadow
                        .catalog__line1
                          i
                        .catalog__line2
                          i
                        .catalog__line3
                          i
                        .catalog__line4
                          i
                        .catalog__size
                          .catalog__size__name доступные размеры
                          .catalog__size__label 40
                          .catalog__size__label 42
                      img(src="./tmp/catalog-img-girl-3.png", alt="").img-responsive
                    a(href="#!").catalog__name название Платья № 23465454
                    .catalog__price
                      div
                        small 
                          span цена скрыта,
                          a(href="#!") зарегистрируйтесь
                .catalog__carousel__block
                  .catalog__block
                    .catalog__img
                      a(href="#!").catalog__link
                      .catalog__hover
                        .catalog__shadow
                        .catalog__line1
                          i
                        .catalog__line2
                          i
                        .catalog__line3
                          i
                        .catalog__line4
                          i
                        .catalog__size
                          .catalog__size__name доступные размеры
                          .catalog__size__label 40
                          .catalog__size__label 42
                          .catalog__size__label 43
                          .catalog__size__label 44
                          .catalog__size__label 46
                          .catalog__size__label 48
                          .catalog__size__label 50
                          .catalog__size__label 52
                          .catalog__size__label 54
                      img(src="./tmp/catalog-img-girl-4.png", alt="").img-responsive
                    a(href="#!").catalog__name название Платья № 23465454 
                    .catalog__price
                      div
                        small 
                          span цена скрыта,
                          a(href="#!") зарегистрируйтесь
                          
            #catalog-sale.tab-pane(role='tabpanel')
              .catalog__carousel
                .catalog__carousel__block 
                  .catalog__block
                    .catalog__img
                      a(href="#!").catalog__link
                      .catalog__hover
                        .catalog__shadow
                        .catalog__line1
                          i
                        .catalog__line2
                          i
                        .catalog__line3
                          i
                        .catalog__line4
                          i
                        .catalog__size
                          .catalog__size__name доступные размеры
                          .catalog__size__label 40
                          .catalog__size__label 42
                          .catalog__size__label 43
                          .catalog__size__label 44
                          .catalog__size__label 46
                          .catalog__size__label 48
                      img(src="./tmp/catalog-img-girl-1.png", alt="").img-responsive
                    a(href="#!").catalog__name название Платья № 23465454 
                    .catalog__price
                      div
                        span
                          strong 15 999 
                          sup руб
                .catalog__carousel__block
                  .catalog__block
                    .catalog__img
                      a(href="#!").catalog__link
                      .catalog__hover
                        .catalog__shadow
                        .catalog__line1
                          i
                        .catalog__line2
                          i
                        .catalog__line3
                          i
                        .catalog__line4
                          i
                        .catalog__size
                          .catalog__size__name доступные размеры
                          .catalog__size__label 40
                          .catalog__size__label 42
                          .catalog__size__label 43
                      img(src="./tmp/catalog-img-girl-2.png", alt="").img-responsive
                    a(href="#!").catalog__name название Платья № 23465454 
                    .catalog__price
                      div
                        span
                          strong 15 999 
                          sup руб
                      div
                        span.old
                          strong 21 999 
                          sup руб
                .catalog__carousel__block
                  .catalog__block
                    .catalog__img
                      a(href="#!").catalog__link
                      .catalog__hover
                        .catalog__shadow
                        .catalog__line1
                          i
                        .catalog__line2
                          i
                        .catalog__line3
                          i
                        .catalog__line4
                          i
                        .catalog__size
                          .catalog__size__name доступные размеры
                          .catalog__size__label 40
                          .catalog__size__label 42
                      img(src="./tmp/catalog-img-girl-3.png", alt="").img-responsive
                    a(href="#!").catalog__name название Платья № 23465454
                    .catalog__price
                      div
                        small 
                          span цена скрыта,
                          a(href="#!") зарегистрируйтесь
                .catalog__carousel__block
                  .catalog__block
                    .catalog__img
                      a(href="#!").catalog__link
                      .catalog__hover
                        .catalog__shadow
                        .catalog__line1
                          i
                        .catalog__line2
                          i
                        .catalog__line3
                          i
                        .catalog__line4
                          i
                        .catalog__size
                          .catalog__size__name доступные размеры
                          .catalog__size__label 40
                          .catalog__size__label 42
                          .catalog__size__label 43
                          .catalog__size__label 44
                          .catalog__size__label 46
                          .catalog__size__label 48
                          .catalog__size__label 50
                          .catalog__size__label 52
                          .catalog__size__label 54
                      img(src="./tmp/catalog-img-girl-4.png", alt="").img-responsive
                    a(href="#!").catalog__name название Платья № 23465454 
                    .catalog__price
                      div
                        small 
                          span цена скрыта,
                          a(href="#!") зарегистрируйтесь
                          
                .catalog__carousel__block 
                  .catalog__block
                    .catalog__img
                      a(href="#!").catalog__link
                      .catalog__hover
                        .catalog__shadow
                        .catalog__line1
                          i
                        .catalog__line2
                          i
                        .catalog__line3
                          i
                        .catalog__line4
                          i
                        .catalog__size
                          .catalog__size__name доступные размеры
                          .catalog__size__label 40
                          .catalog__size__label 42
                          .catalog__size__label 43
                          .catalog__size__label 44
                          .catalog__size__label 46
                          .catalog__size__label 48
                      img(src="./tmp/catalog-img-girl-1.png", alt="").img-responsive
                    a(href="#!").catalog__name название Платья № 23465454 
                    .catalog__price
                      div
                        span
                          strong 15 999 
                          sup руб
                
            #catalog-week.tab-pane(role='tabpanel')
              .catalog__carousel
                .catalog__carousel__block 
                  .catalog__block
                    .catalog__img
                      a(href="#!").catalog__link
                      .catalog__hover
                        .catalog__shadow
                        .catalog__line1
                          i
                        .catalog__line2
                          i
                        .catalog__line3
                          i
                        .catalog__line4
                          i
                        .catalog__size
                          .catalog__size__name доступные размеры
                          .catalog__size__label 40
                          .catalog__size__label 42
                          .catalog__size__label 43
                          .catalog__size__label 44
                          .catalog__size__label 46
                          .catalog__size__label 48
                      img(src="./tmp/catalog-img-girl-1.png", alt="").img-responsive
                    a(href="#!").catalog__name название Платья № 23465454 
                    .catalog__price
                      div
                        span
                          strong 15 999 
                          sup руб
                .catalog__carousel__block
                  .catalog__block
                    .catalog__img
                      a(href="#!").catalog__link
                      .catalog__hover
                        .catalog__shadow
                        .catalog__line1
                          i
                        .catalog__line2
                          i
                        .catalog__line3
                          i
                        .catalog__line4
                          i
                        .catalog__size
                          .catalog__size__name доступные размеры
                          .catalog__size__label 40
                          .catalog__size__label 42
                          .catalog__size__label 43
                      img(src="./tmp/catalog-img-girl-2.png", alt="").img-responsive
                    a(href="#!").catalog__name название Платья № 23465454 
                    .catalog__price
                      div
                        span
                          strong 15 999 
                          sup руб
                      div
                        span.old
                          strong 21 999 
                          sup руб
                .catalog__carousel__block
                  .catalog__block
                    .catalog__img
                      a(href="#!").catalog__link
                      .catalog__hover
                        .catalog__shadow
                        .catalog__line1
                          i
                        .catalog__line2
                          i
                        .catalog__line3
                          i
                        .catalog__line4
                          i
                        .catalog__size
                          .catalog__size__name доступные размеры
                          .catalog__size__label 40
                          .catalog__size__label 42
                      img(src="./tmp/catalog-img-girl-3.png", alt="").img-responsive
                    a(href="#!").catalog__name название Платья № 23465454
                    .catalog__price
                      div
                        small 
                          span цена скрыта,
                          a(href="#!") зарегистрируйтесь
                .catalog__carousel__block
                  .catalog__block
                    .catalog__img
                      a(href="#!").catalog__link
                      .catalog__hover
                        .catalog__shadow
                        .catalog__line1
                          i
                        .catalog__line2
                          i
                        .catalog__line3
                          i
                        .catalog__line4
                          i
                        .catalog__size
                          .catalog__size__name доступные размеры
                          .catalog__size__label 40
                          .catalog__size__label 42
                          .catalog__size__label 43
                          .catalog__size__label 44
                          .catalog__size__label 46
                          .catalog__size__label 48
                          .catalog__size__label 50
                          .catalog__size__label 52
                          .catalog__size__label 54
                      img(src="./tmp/catalog-img-girl-4.png", alt="").img-responsive
                    a(href="#!").catalog__name название Платья № 23465454 
                    .catalog__price
                      div
                        small 
                          span цена скрыта,
                          a(href="#!") зарегистрируйтесь
            
        
        // Advantages
        section.section.advantages
          
          .row
            .col-sm-3.col-xs-6.col-xxs-12
              .advantages__block
                div
                  .advantages__icon
                    i.icon.icon--advantages-1
                div
                  p Работа напрямую с производителем и главным офисом
            .col-sm-3.col-xs-6.col-xxs-12
              .advantages__block
                div
                  .advantages__icon
                    i.icon.icon--advantages-2
                div
                  p мы используем только  качественные материалы
            
            .visible-xs
              .clear
            
            .col-sm-3.col-xs-6.col-xxs-12
              .advantages__block
                div
                  .advantages__icon
                    i.icon.icon--advantages-3
                div
                  p постоянные Сезонные акции и скидки
            .col-sm-3.col-xs-6.col-xxs-12
              .advantages__block
                div
                  .advantages__icon
                    i.icon.icon--advantages-4
                div
                  p Регулярное обновление ассортимента
        
        // About
        section.section.about
          
          .about__title О компании
          
          .row
            .col-md-6
              p Компания EMANSIPE (Москва) производит и продаёт оптом элегантные платья для повседневных и праздничных выходов. Качественная и недорогая женская одежда соответствует тенденциям мировой моды. Продукция фабрики EMANSIPE помогает выглядеть обворожительно, акцентируя внимание на достоинствах фигуры. С помощью наших изделий легко создавать мягкие, тёплые, изысканные и женственные образы. Женская одежда российского производства стоит недорого, но при этом выглядит по-европейски стильно. Это уникальное преимущество бренда.
            .col-md-6
              p Коллекция нового осенне-зимнего сезона побуждает провести ревизию в гардеробе и пополнить его новыми модными платьями. Очаровательные образы также будут уместны в разных ситуациях. Смелое сочетание разнофактурных тканей, комбинации цветов, контрастная отделка брендовой женской одежды неизменно притягивают взгляды. Кокетливо завязанные пояса превращаются в эффектный декор. 
                a(href="#!") Подробнее

    
    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    //- include ./_include/_footer-js
    script(src='./js/libs.js')
    include ./_include/_footer-js
    script(src='./js/common.js')
    include ./_include/_js-body-bottom
