doctype

html(lang="ru")
  
  -var active = 'Платье № 3546576' //активный пункт меню, список в header.jade
  -var pageTitle = 'Платье № 3546576' + ' - Emansipe' //title страницы для генерации верстки 

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    include ./_include/_header
    
    // Breadcrumbs
    .breadcrumbs
      .container
        ul
          li
            a(href="#!") Emansipe
          li
            a(href="#!") Платья
          li
            a(href="#!") Женские платья
          li 
            span Платье № 3546576
    
    // Content
    .content
      .container
        
        h1 Платье № 3546576
        
        // Product
        .product
          .row
            .col-lg-6.col-sm-7
              
              .product__gallery
                .product__gallery__left
                  ul
                    li
                      a(href="#" data-cloudzoom="useZoom: '#zoom1', image: './tmp/img-gallery-middle-1.png', zoomImage: './tmp/img-gallery-big-1.png', 'galleryEvent':'mouseover'").cloudzoom-gallery
                        img(src="./tmp/img-gallery-small-1.png", alt="")
                    li
                      a(href="#" data-cloudzoom="useZoom: '#zoom1', image: './tmp/img-gallery-middle-2.png', zoomImage: './tmp/img-gallery-big-2.png', 'galleryEvent':'mouseover'").cloudzoom-gallery
                        img(src="./tmp/img-gallery-small-2.png", alt="")
                    li
                      a(href="#" data-cloudzoom="useZoom: '#zoom1', image: './tmp/img-gallery-middle-3.png', zoomImage: './tmp/img-gallery-big-3.png', 'galleryEvent':'mouseover'").cloudzoom-gallery
                        img(src="./tmp/img-gallery-small-3.png", alt="")
                    li
                      a(href="#" data-cloudzoom="useZoom: '#zoom1', image: './tmp/img-gallery-middle-1.png', zoomImage: './tmp/img-gallery-big-1.png', 'galleryEvent':'mouseover'").cloudzoom-gallery
                        img(src="./tmp/img-gallery-small-1.png", alt="")
                    li
                      a(href="#" data-cloudzoom="useZoom: '#zoom1', image: './tmp/img-gallery-middle-2.png', zoomImage: './tmp/img-gallery-big-2.png', 'galleryEvent':'mouseover'").cloudzoom-gallery
                        img(src="./tmp/img-gallery-small-2.png", alt="")
                    li
                      a(href="#" data-cloudzoom="useZoom: '#zoom1', image: './tmp/img-gallery-middle-3.png', zoomImage: './tmp/img-gallery-big-3.png', 'galleryEvent':'mouseover'").cloudzoom-gallery
                        img(src="./tmp/img-gallery-small-3.png", alt="")
                  
                .product__gallery__center
                  img#zoom1.cloudzoom(src='./tmp/img-gallery-middle-1.png', data-cloudzoom="zoomImage: './tmp/img-gallery-big-1.png', zoomSizeMode: 'image', animationTime: 0, easeTime: 0, disableOnScreenWidth: 1199")
                  .product__zoom
            
            .col-lg-6.col-sm-5
              
              // row
              .row
                .col-lg-6
                  
                  // Product information
                  .product__info
                    // Product table
                    table.table.table--product
                      tr
                        td.first Артикул:
                        td 
                          span.color--primary 6876543514
                      tr
                        td.first Цвет:
                        td 
                          span.color--primary терракотовый
                      tr
                        td.first Состав:
                        td 
                          span.color--primary хлопок 95%, эластан 5%
                    
                    // Product color
                    .product__label выберите цвет
                    .product__color
                      ul
                        li
                          a(href="#!")
                            img(src="./tmp/img-color-1.png", alt="")
                        li
                          a(href="#!")
                            img(src="./tmp/img-color-2.png", alt="")
                        li
                          a(href="#!")
                            img(src="./tmp/img-color-3.png", alt="")
                        li
                          a(href="#!")
                            img(src="./tmp/img-color-4.png", alt="")
                        li
                          a(href="#!")
                            img(src="./tmp/img-color-1.png", alt="")
                        li
                          a(href="#!")
                            img(src="./tmp/img-color-2.png", alt="")
                        li
                          a(href="#!")
                            img(src="./tmp/img-color-3.png", alt="")
                        li
                          a(href="#!")
                            img(src="./tmp/img-color-4.png", alt="")
                    
                    // Product size
                    .product__label выберите размер
                    .product__size
                      label.product__size__label
                        input(type="radio" name="size")
                        span 38
                        span.line
                      label.product__size__label
                        input(type="radio" name="size")
                        span 42
                        span.line
                      label.product__size__label
                        input(type="radio" name="size")
                        span 44
                        span.line
                      label.product__size__label
                        input(type="radio" name="size")
                        span 46
                        span.line
                      label.product__size__label
                        input(type="radio" name="size")
                        span 50
                        span.line
                      label.product__size__label
                        input(type="radio" name="size")
                        span 52
                        span.line
                      .clear
                      .product__count
                        div
                          .table
                            .table-cell
                              .label укажите количество:
                            .table-cell
                              input(type="text" value="120")
                            .table-cell
                              .label шт.
                      
                    // Product price
                    .catalog__price.catalog__price--product
                      div
                        span
                          strong 15 999 
                          sup руб
                      div
                        span.old
                          strong 21 500
                          small руб
                      .clear
                      button(type="submit").btn.btn--default.btn--block Положить в корзину
                  
                .col-lg-6.visible-lg
                  
                  // Advantages
                  .advantages.advantages--product
                    .advantages__block.advantages__block--product
                      div
                        .advantages__icon
                          i.icon.icon--advantages-1
                      div
                        p Работа напрямую с производителем и главным офисом
                        
                    .advantages__block.advantages__block--product
                      div
                        .advantages__icon
                          i.icon.icon--advantages-2
                      div
                        p мы используем только  качественные материалы

                    .advantages__block.advantages__block--product
                      div
                        .advantages__icon
                          i.icon.icon--advantages-3
                      div
                        p постоянные Сезонные акции и скидки
                        
                    .advantages__block.advantages__block--product
                      div
                        .advantages__icon
                          i.icon.icon--advantages-4
                      div
                        p Регулярное обновление ассортимента
              
              // Product table
              .hidden-sm
                .h3 параметры изделия
                table.table.table--product
                  tr
                    td.first Длина рукава:
                    td 
                      span.color--primary Короткие; 3/4
                  tr
                    td.first Покрой:
                    td
                      span.color--primary прямой; полуприлегающий
                  tr
                    td.first Вид застежки:
                    td
                      span.color--primary Без застежки; Молния
                  tr
                    td.first Вырез горловины:
                    td
                      span.color--primary лодочка
                  tr
                    td.first Длина изделия:
                    td
                      span.color--primary по спинке: 80 см; 
        
        // Product content
        .product__content
          
          // Product table
          .visible-sm
            .h2.color--dark параметры изделия
            table.table.table--product
              tr
                td.first Длина рукава:
                td 
                  span.color--primary Короткие; 3/4
              tr
                td.first Покрой:
                td
                  span.color--primary прямой; полуприлегающий
              tr
                td.first Вид застежки:
                td
                  span.color--primary Без застежки; Молния
              tr
                td.first Вырез горловины:
                td
                  span.color--primary лодочка
              tr
                td.first Длина изделия:
                td
                  span.color--primary по спинке: 80 см; 
                  
          .h2.color--dark Текстовое описание
          
          .product__content__body
            .row
              .col-md-6
                p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные предложения залетают прямо в рот. 
              .col-md-6
                p Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку. Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу.
        
        // Catalog
        .catalog
          .h2.color--dark ранее просматривали
          
          .catalog__viewed
            .catalog__carousel__block 
              .catalog__block
                .catalog__img
                  a(href="#!").catalog__link
                  .catalog__hover
                    .catalog__shadow
                    .catalog__line1
                      i
                    .catalog__line2
                      i
                    .catalog__line3
                      i
                    .catalog__line4
                      i
                    .catalog__size
                      .catalog__size__name доступные размеры
                      .catalog__size__label 40
                      .catalog__size__label 42
                      .catalog__size__label 43
                      .catalog__size__label 44
                      .catalog__size__label 46
                      .catalog__size__label 48
                  img(src="./tmp/catalog-img-girl-1.png", alt="").img-responsive
                a(href="#!").catalog__name очень длинное название са мо го кр ут ог о платья № 23465454 
                .catalog__price
                  div
                    span
                      strong 15 999 
                      sup руб
            .catalog__carousel__block 
              .catalog__block
                .catalog__img
                  a(href="#!").catalog__link
                  .catalog__hover
                    .catalog__shadow
                    .catalog__line1
                      i
                    .catalog__line2
                      i
                    .catalog__line3
                      i
                    .catalog__line4
                      i
                    .catalog__size
                      .catalog__size__name доступные размеры
                      .catalog__size__label 40
                      .catalog__size__label 42
                      .catalog__size__label 43
                  img(src="./tmp/catalog-img-girl-2.png", alt="").img-responsive
                a(href="#!").catalog__name название Платья № 23465454
                .catalog__price
                  div
                    span
                      strong 15 999 
                      sup руб
            .catalog__carousel__block 
              .catalog__block
                .catalog__img
                  a(href="#!").catalog__link
                  .catalog__hover
                    .catalog__shadow
                    .catalog__line1
                      i
                    .catalog__line2
                      i
                    .catalog__line3
                      i
                    .catalog__line4
                      i
                    .catalog__size
                      .catalog__size__name доступные размеры
                      .catalog__size__label 40
                  img(src="./tmp/catalog-img-girl-3.png", alt="").img-responsive
                a(href="#!").catalog__name название Платья № 23465454
                .catalog__price
                  div
                    span
                      strong 15 999 
                      sup руб
            .catalog__carousel__block 
              .catalog__block
                .catalog__img
                  a(href="#!").catalog__link
                  .catalog__hover
                    .catalog__shadow
                    .catalog__line1
                      i
                    .catalog__line2
                      i
                    .catalog__line3
                      i
                    .catalog__line4
                      i
                    .catalog__size
                      .catalog__size__name доступные размеры
                      .catalog__size__label 40
                      .catalog__size__label 42
                      .catalog__size__label 43
                      .catalog__size__label 44
                      .catalog__size__label 46
                      .catalog__size__label 48
                  img(src="./tmp/catalog-img-girl-4.png", alt="").img-responsive
                a(href="#!").catalog__name название Платья № 23465454
                .catalog__price
                  div
                    span
                      strong 15 999 
                      sup руб
            .catalog__carousel__block 
              .catalog__block
                .catalog__img
                  a(href="#!").catalog__link
                  .catalog__hover
                    .catalog__shadow
                    .catalog__line1
                      i
                    .catalog__line2
                      i
                    .catalog__line3
                      i
                    .catalog__line4
                      i
                    .catalog__size
                      .catalog__size__name доступные размеры
                      .catalog__size__label 40
                      .catalog__size__label 42
                      .catalog__size__label 43
                      .catalog__size__label 44
                      .catalog__size__label 46
                      .catalog__size__label 48
                  img(src="./tmp/catalog-img-girl-4.png", alt="").img-responsive
                a(href="#!").catalog__name название Платья № 23465454
                .catalog__price
                  div
                    span
                      strong 15 999 
                      sup руб

    
    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    script(src='./js/libs.js')
    include ./_include/_footer-js
    script(src='./js/common.js')
    include ./_include/_js-body-bottom
    
    script.
      $(document).ready(function(){
        $('.menu .menu__li1:nth-child(2)').addClass('active');
      })
