// Catalog navigation
.catalog__navigation
  button(type="button") Каталог 
    span.hidden-sm продукции
    i.ion-chevron-up
  nav(role="navigation")
    ul
      li.active 
        span Платья
        ul
          li
            a(href="#!") Mini
              span (365)
          li.active
            a(href="#!") Midi
              span (210)
          li
            a(href="#!") Maxi
              span (675)
          li
            a(href="#!") Вечерние платья
              span (55)
          li.last
            a(href="#!") Все платья
              span (987)
              
      li 
        span Костюмы
        ul
          li
            a(href="#!") Все костюмы
              span (546)
      li 
        span Верхняя одежда 
        ul
          li
            a(href="#!") Легкие пальто
              span (110)
          li
            a(href="#!") Куртки
              span (853)
          li
            a(href="#!") Плащи
              span (120)
          li
            a(href="#!") Пальто
              span (555)
          li
            a(href="#!") Вся верхняя одежда
              span (4562)
