// Footer
footer.footer
  
  .container
    .row
      .col-sm-3.hidden-xs
        .footer__logo
          img(src="./img/logo.png", alt="")
        .copyright © 2017 Интернет магазин Emansipe. Все права зарегистрированы и защищены.
        
      .col-sm-3.hidden-xs
        .footer__title Контакты
        
        .footer__contacts
          .footer__contacts__row
            div
              i.ion-email
            div
              a(href="#!") info@site-name.ru
          .footer__contacts__row
            div
              i.ion-android-call
            div 
              a(href="tel:000000") 8(966)026-27-27
          .footer__contacts__row
            div
              i.ion-social-whatsapp
            div 
              a(href="tel:000000") 8(909)952-27-77 
          .footer__contacts__row
            div
              i.ion-home
            div г. Москва, ул. Иркутская, дом 11, 
              br
              | корп. 1, остановка "2-й 
              br
              | Иртышский проезд"
        
      .col-sm-3.col-xs-6.col-xxs-12
        .footer__title Сотрудничество
        ul
          li
            a(href="#!") Как зарегистрироваться
          li
            a(href="#!") Условия сотрудничества
          li
            a(href="#!") О доставке
          li
            a(href="#!") Способы оплаты
        
      .col-sm-3.col-xs-6.col-xxs-12
        .footer__title Личный кабинет
        ul
          li
            a(href="#!") Личные данные
          li
            a(href="#!") Состояние заказа
          li
            a(href="#!") Корзина
          li
            a(href="#!") Выход
      
      .col-xs-12.visible-xs
        .copyright © 2017 Интернет магазин Emansipe. Все права зарегистрированы и защищены.
