// Footer js

script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.nanoscroller/0.8.7/javascripts/jquery.nanoscroller.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/Readmore.js/2.2.0/readmore.min.js')
script(src='./js/libs/cloudzoom/cloudzoom.js')
script(src='./js/libs/cloudzoom/starzoom.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
  
//- Old browser
  script.
    var $buoop = {vs:{i:10,f:30,o:25,s:7},c:2}; 
    function $buo_f(){ 
     var e = document.createElement("script"); 
     e.src = "http://browser-update.org/update.min.js"; 
     document.body.appendChild(e);
    };
    try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
    catch(e){window.attachEvent("onload", $buo_f)}
