// Header
header.header
  
  .header__top
    .container
      a(href="#feedback").btn.btn--default.btn--feedback.open-popup-link Обратная связь
      
      .header__contacts
        div Пн—Вс 10:00—19:00
        div
          .header__phones
            div 8 (966) 026-27-27
            div 8 (909) 952-27-77 
  
  .header__bottom
    .container
      
      .row
        .col-lg-4.col-lg-push-4
          .logo
            a(href="#!")
            img(src="./img/logo.png", alt="")
          
      
        .col-lg-3.col-lg-pull-4
          
          .header__social
            div
              a(href="#!")
                i.icon.icon--social-instagram
              a(href="#!")
                i.icon.icon--social-facebook
              a(href="#!")
                i.icon.icon--social-vkontakte
          
        .col-lg-3.col-lg-push-2
          
          .header__links
            div
              a(href="#!")
                i.icon.icon--search
              a(href="#enter").open-popup-link
                i.icon.icon--user
              a(href="#!")
                i.icon.icon--cart
                span 99
                
  // Menu
  nav(role="navigation").menu
    .container
    
      ul.menu__ul1
        li.menu__li1
          a(href="#!") Новинки
        li.menu__li1
          a(href="#!") Платья
          div.menu__ul2
            .menu__corner
            ul
              li.menu__li2
                a(href="#!") Повседневные платья
              li.menu__li2
                a(href="#!") Вечерние платья
              li.menu__li2
                a(href="#!") Коктейльные платья
              li.menu__li2
                a(href="#!") Сарафаны
              li.menu__li2
                a(href="#!") SEXY платья

        li.menu__li1
          a(href="#!") Костюмы
        li.menu__li1
          a(href="#!") Верхняя одежда
        li.menu__li1
          a(href="#!") О компании
        li.menu__li1
          a(href="#!") Скидки
        li.menu__li1
          a(href="#!") Контакты
