// Header
header.header
  
  .header__top
    .container
      
      .header__contacts
        div.show Пн—Вс 10:00—19:00
        div 8 (966) 026-27-27
        div.hide 8 (909) 952-27-77
        div.visible-xs
          a(href="#!").btn.btn--phones
            i.ion-android-arrow-dropleft
      
      a(href="#feedback").btn.btn--default.btn--feedback.open-popup-link Обратная связь 
  
  .header__bottom
    .container
      
      .row
        .col-sm-6.col-sm-push-3.col-xs-12
          .logo
            a(href="#!")
            img(src="./img/logo.png", alt="")
          
      
        .col-sm-3.col-sm-pull-6.col-xs-6
          
          .header__social
            div
              a(href="#!")
                i.icon.icon--social-instagram
              a(href="#!")
                i.icon.icon--social-facebook
              a(href="#!")
                i.icon.icon--social-vkontakte
          
        .col-sm-3.col-xs-6
          
          .header__links
            div
              a(href="#!")
                i.icon.icon--search
              a(href="#enter").open-popup-link
                i.icon.icon--user
              a(href="#!")
                i.icon.icon--cart
                span 99
                
  // Menu
  nav(role="navigation").menu.visible-lg
    .container
    
      ul.menu__ul1
        li.menu__li1
          a(href="#!") Новинки
        li.menu__li1
          a(href="#!") Платья
          div.menu__ul2
            .menu__corner
            ul
              li.menu__li2
                a(href="#!" data-img="./img/drop-menu-1.png") Повседневные платья
              li.menu__li2
                a(href="#!" data-img="./img/drop-menu-2.png") Вечерние платья
              li.menu__li2
                a(href="#!" data-img="./img/drop-menu-3.png") Коктейльные платья
              li.menu__li2
                a(href="#!" data-img="./img/drop-menu-4.png") Сарафаны
              li.menu__li2
                a(href="#!" data-img="./img/drop-menu-5.png") SEXY платья
            img(src="./img/drop-menu-1.png", alt="").menu__img

        li.menu__li1
          a(href="#!") Костюмы
        li.menu__li1
          a(href="#!") Верхняя одежда
        li.menu__li1
          a(href="#!") О компании
        li.menu__li1
          a(href="#!") Скидки
        li.menu__li1
          a(href="#!") Контакты
