// Header
header.header
  
  .header__top
    .container
      a(href="#feedback").btn.btn--default.btn--feedback.open-popup-link Обратная связь
      
      .header__contacts
        div Пн—Вс 10:00—19:00
        div
          .header__phones
            div 8 (966) 026-27-27
            div 8 (909) 952-27-77 
  
  .header__bottom
    .container
      
      .row
        .col-lg-4.col-lg-push-4
          .logo
            a(href="#!")
            img(src="./img/logo.png", alt="")
          
      
        .col-lg-3.col-lg-pull-4
          
          .header__social
            div
              a(href="#!")
                i.icon.icon--social-instagram
              a(href="#!")
                i.icon.icon--social-facebook
              a(href="#!")
                i.icon.icon--social-vkontakte
          
        .col-lg-3.col-lg-push-2
          
          .header__links
            div
              a(href="#!")
                i.icon.icon--search
              a(href="#enter").open-popup-link
                i.icon.icon--user
              a(href="#!")
                i.icon.icon--cart
                span 99
                
